body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./Utils/image/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

::-webkit-scrollbar {
  width: 0;
  height: 1px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(68, 48, 48);
  border-radius: 10px;
  height: 200px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}


.header__title {
  line-height: normal;
  color: rgb(60, 175, 60);
}

.nav {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.gamBtn {
  display: none;
}

.main {
  max-height: 75vh;
  overflow-y: scroll;
}

.imgCarusel {
  max-height: 80vh;
}

.footer {
  background-color: rgb(182, 228, 206);
}

.carusel-item-1 {
  padding: 100px 100px 300px 100px;
  background-image: url('./Utils/image/bg3corusel.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

.text {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(16, 179, 16);
}

.carusel-item-2 {
  padding: 100px 100px 300px 100px;
  background-image: url('./Utils/image/bg2corusel.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

@media only screen and (max-width: 950px) {
  .lecture-img {
    max-width: 600px;
    max-height: 550px;
  }
}

@media only screen and (max-width: 750px) {
  .nav {
    display: none !important;
  }

  .gamBtn {
    display: block;
  }

  .lecture-img {
    max-width: 400px;
    max-height: 300px;
  }

  .carusel-item-1, .carusel-item-2 {
    padding: 80px 160px 160px 80px;
  }
}

@media only screen and (max-width: 550px) {
  .header__logo-img {
    max-width: 50px;
    max-height: 50px;
    margin-right: 7px;
  }

  .gamBtn__btn {
    max-width: 50px;
    max-height: 50px;
  }

  .lecture-img {
    max-width: 300px;
    max-height: 270px;
  }

  .carusel-item-1, .carusel-item-2 {
    padding: 40px 80px 80px 40px;
  }
}
