body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./Utils/image/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

code {
  font-family: sans-serif 
}

.header__title {
  line-height: normal;
  color: rgb(60, 175, 60);
}

.nav {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.gamBtn {
  display: none;
}

@media only screen and (max-width: 950px) {
  .lecture-img {
    max-width: 600px;
    max-height: 550px;
  }
}

@media only screen and (max-width: 750px) {
  .nav {
    display: none !important;
  }

  .gamBtn {
    display: block;
  }

  .lecture-img {
    max-width: 400px;
    max-height: 300px;
  }
}

@media only screen and (max-width: 550px) {
  .header__logo-img {
    max-width: 50px;
    max-height: 50px;
    margin-right: 7px;
  }

  .gamBtn__btn {
    max-width: 50px;
    max-height: 50px;
  }

  .lecture-img {
    max-width: 300px;
    max-height: 270px;
  }
}
